{% extends 'base.html' %}
{% load static %}
{% block title %}Terms & Conditions{% endblock title %}

{% block tnc %}
<div class="container mt-5">
    <div class="row justify-content-md-center ">

        <div class="col-md-auto">
            <h2 class="text-center"><b> Terms and Conditions for <i>Turtle'c Clinic</i> </b></h2>

            <p><pre class="note note-light shadow pt-5" style="font-family: 'Serif', Garamond; font-size: 15px;">
            We are always pleased to assist our clients whenever we can. This document gives details of our terms and conditions of service. 
            If, however, you have any queries or need clarification, please contact us and a member of staff will be happy to help you.

            Please be aware that any information provided through any part of our website (examples: forum, blog, news, main site, live chat, 
            phone, email, …) is for fun & entertainment purposes only and does not constitute professional advice. No professional advice can 
            be given without a clinical consultation with a dentist. For professional dental advice we strongly recommend that you see a dentist 
            for full consultation.
                
            Turtle's Clinic does not have a contract with an NHS Primary Care Trust and all treatments are provided on a private basis only.


            <b>Treatment Plans & Estimates</b>
            Once your treatment plan has been agreed with the Dentist, we will provide printed details of your plan. If this plan changes due 
            to radiographic or clinical findings, we will inform you and discuss this with you. Treatment plans and fees are valid for 90 days 
            from the date the treatment was prescribed. If there are any points on your treatment plan that you wish to query, please do not 
            hesitate to ask us, before the appointments for actual treatments are made.

            <b>Fees</b>
            Fees for treatment are due on the day the treatment is provided. We do not operate an account in arrears facility and we require 
            fees to be settled at the appointment where treatment is provided. Where treatment incurs a laboratory fee, a minimum of 50% of 
            the total fee is due at the appointment where impressions are taken. Fees for certain treatments like Dental Implants and 
            Invisalign® are taken in staged payments at each visit.

            Fees for treatment where intravenous sedation is included, must be settled prior to the appointment to avoid financial transactions, 
            or signatures being required, whilst a client is still under the influence of the sedative.

            In cases where treatment is paid for on finance through a Finance company, please be aware that the finance agreement must be 
            accepted and signed prior to the start of that treatment. Please note that finance is only available on treatments over £400, 
            not including Emergency Dental Treatment, and that a minimum deposit may also be required.

            If you have financed any of the costs of your treatment through the finance company, and wish to cancel your treatment after 
            signing the agreement forms, please be aware that a cancellation fee of up to 15% of the total finance amount will be charged. 
            In some circumstances, we reserve the right to request payment in advance for certain treatments.

            Turtle's Clinic reserves the right to charge time based deposits for booking future appointments. Deposits are deductible off 
            the cost of treatment.

            Payment methods accepted are:
            <i class="fa fa-genderless"></i> Cash
            <i class="fa fa-genderless"></i> Debit/Credit Card excluding American express
            <span class="text-danger">Note: Turtle's Clinic does not accept any payments by cheque (unless agreed in advance with the practice owner). Please note that 
            unpaid accounts are routinely referred to a Debt Collection Agency or the Small Claims Court, and we reserve the right to recover 
            all costs incurred in doing so.</span> 

            We reserve the right to ask for payment in full before beginning any treatment plan.

            We reserve the right to make alternative charges based on surgery and clinician time if planned treatment cannot be completed in 
            the allocated time.

            <b>Late Cancellation or Missed Appointments</b>
            Cancellations and Failed Appointments: We require a minimum of 48 business hours notice for cancellation of any arranged appointment. 
            When we schedule an appointment for a patient, we are booking the surgery time off for that patient’s treatment. Failure to give the 
            appropriate notice of cancellation will result in a Failed Appointment Fee being charged. This fee is proportionate to the length of 
            the appointment failed and is to cover the cost of the surgery time wasted.

            Failed Appointment fees must be settled before any other appointment is offered. Please note that we cannot accept notice of cancellation 
            by e-mail, text message, WhatsApp or answer phone message, as these are not screened daily.

            Turtle's Clinic reserves the right to charge the full cost of the treatment in the event of a missed appointment or an appointment 
            cancelled with less than 24 hours notice. For appointments longer than 1 hour, we require at least 72 hours.

            For missed appointments or short notice cancellations, we reserve the right to take a minimum of 50% deposit to book further 
            appointments.

            Please note: it is also down to the principals discretion if further appointments can be booked for any late cancellations or missed 
            appointments.

            <b>Late for Appointment</b>
            We understand that some patients travel long distances to get to the clinic, and in some cases being late for appointments can be 
            unavoidable. If you are more than 10 minutes, please be aware that you may be asked to reschedule your appointment.

            <b>Personal Details</b>
            It is very important that you give a full medical history and details of any medication you take. Should these change in any way, it 
            is very important for you to tell your Dentist. It is the patient’s responsibility to inform the clinic of any changes in either 
            personal details and/or their medical history.

            <b>Guarantee</b>
            At Turtle's Clinic we offer a 12 month guarantee for fillings, and crown and bridgework, provided that the following conditions are met:

            The patient has fully paid for the treatment and does not owe the practice any money for the treatment received.
            The restorations have not been damaged as a result of an accident, trauma or excessive grinding.
            The patient has followed all post treatment maintenance recommendations made by our dentists.
            The patient has attended and routine examination every 6 months.
            Some treatments may have a guarantee of less than 1 year, and in this case you will be informed by your Dentist either verbally or in 
            writing, or both.

            <b>Use of Images and X-rays</b>
            Turtle's Clinic may use images and x-rays of your smile and teeth only, for marketing and educational purposes on the Turtle's Clinic 
            website, and on promotional and educational literature. Your name will never be published, and identity will never be disclosed. However, 
            if you DO NOT wish for us to use your images and x-rays in this way, please let us know.


            <b>Use of Patient Contact Details</b>
            At Turtle's Clinic the health of our patients is our highest priority, and we also like to keep our patients informed of various 
            important changes at the clinic and of our latest special offers. We like to remind our patients of their appointments, when they are 
            due for appointments, and other various important reminders. On this note, you may be periodically contacted by the clinic via phone, 
            text, email or by letter in the post. If you DO NOT wish to be contacted by the clinic by any or all of these means, please let us know.

            <b>Complaint's Policy</b>
            At Turtle's Clinic we always take complaints about any aspects of our services very seriously, in order to ensure that every patient 
            has only the very best experience at all times.

            Complaints can be made in writing by filling out a simple complaints form available from reception, or via email, by the patient or by 
            an authorized person on the patient’s behalf. Complaints should be made to the ‘Complaints Manager’, and should be clear, so that they 
            can be dealt with efficiently.

            Every complaint will receive immediate written/email acknowledgment, and the Management will strive to resolve the complaint within a 
            quick, reasonable period of time (usually about 2 weeks). For our full complaints procedure and policy, please ask a member of our reception 
            team. If a complaint is about any aspect of clinical care or associated charges it will normally be acknowledged by the Management team and 
            then referred to the treating Dentist. Please note that in these cases, Turtle's Clinic accepts no liability on behalf of the treating Dentist 
            and acts as a liaison between the patient and the treating Dentist, only.

            If you are unsatisfied with our internal handling of your complaint, you are free to forward your complaint to the Dental Complaints Service 
            (<www class="dentalcomplaints org"></www>uk). If still unsatisfied, you may wish to forward your complaint to the General Dental Council.

            <b>No Tolerance/Abuse Policy</b>
            We operate a zero tolerance policy to abuse to our Dentists and staff, loud/disorderly/drunken behavior, persistent missing and late cancellation 
            of appointments (after multiple warnings). In these situations, Turtle's Clinic reserves the right to refuse treatment and admission.

            <b>Promotions</b>
            Turtle's Clinic occasionally runs special offers and promotions on treatments. These are subject to availability of appointments and suitability 
            of the treatment for the patient.

            <b>Data Protection Act</b>
            We store all patient personal details on a secure computer system in accordance with the Data Protection Act & GDPR. All clinical notes, digital 
            radiographs, digital photographs etc remain the property of Turtle's Clinic. Copies of notes, radiographs and photographs can be made available 
            on request, and we reserve the right to charge an administration fee for these.




            </pre>
            </p>
        </div>
    </div>

</div>
{% endblock tnc %}